.container {
    margin: auto;
}

.estadoAlert {
    background-color: #198754 !important;
}

.alerta {
    background-color: #d25c5c !important;
}

.formLogin {
    width: 50%;
}

strong {
    font-size: 0.9rem;
}

.forgPassForm {
    width: 50%;
}

.registerForm {
    width: 60%;
}

.formPass {
    width: 60%;
}

.horario {
    display: grid;
    grid-template-columns: 100px repeat(12, 1fr);
    grid-template-rows: 75px repeat(24, 75px);
    gap: 2px;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f8f9fa;
}

.botonInicio {
    width: 95%;
}

.fondoAux:hover {
    background-color: #1a6fa8 !important;
    /* color: inherit !important; */
    border-color: #1a6fa8 !important;
}

.dia {
    text-align: center;
    font-weight: bold;
    height: 75px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #e9ecef;
}

.hora {
    min-width: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #ddd;
    background: #ffffff;
}

.alert {
    width: 70%;
}

#obser {
    width: 400px;
    height: auto;
}

#descObj {
    width: 400px;
    height: 100px;
}

.cita {
    color: white;
    border-radius: 10px;
    font-size: 10px;
    justify-content: space-between;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.descAux {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.nombreAux {
    width: 95%;
    white-space: normal;
}

.horaAux {
    white-space: normal;
    font-size: 1rem;
}



.panel-cliente {
    width: 95%;
}

.gab1 {
    background: #17a2b8;
}

.gab2 {
    background: #28a745;
}

.cita-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.imgTop {
    width: 50px;
    height: 50px;
    margin: auto;
}

.cita-link:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: auto;
    margin: 30px;
    border-radius: 10px;
}

.logoLog {
    width: 150px;
    height: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.usuario {
    display: flex;
    margin: 30px;
}

.detalleCita {
    margin: 2px;
}

.detalleCita>* {
    white-space: normal;
}

.detalleCita2>* {
    white-space: normal !important;
    word-break: break-word;
    overflow: visible;
    text-overflow: unset;
}

.botonAA {
    width: auto;
    height: 40px;
    margin: auto;
    margin-right: 10px;

}

.botonBB {
    height: 70px;
}

p {
    font-size: 1rem;
}

.botonCitaNueva {
    margin: auto;
    margin-right: 10px;
}

.desc {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.botonEditarCliente {
    max-width: 200px;
    max-height: auto;
}

.formCont {
    position: sticky;
    top: 10px;
}

.buscaSemana {
    margin: 10px;
    margin-right: 40px;
}

.semanaActual {
    margin: 10px;
    margin-left: 40px;
}

.creaCliente {
    width: 50%;
    margin: 0 auto;
}

.clientMenu {
    margin-top: 30px;
    position: sticky;
    top: 30px;
    min-width: 100px;
    max-width: 200px;
}

.clientMenu a {
    max-width: 200px;
}

.clientMenu a img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 100px;
}

.fullBuscaCliente {
    margin: 0 auto;
    width: 50%;
}

.subBusca {
    margin: 0 auto;
    width: 300px;
}

.usuPerm {
    min-height: 100px;
}

.odontograma {
    display: grid;
    gap: 5px;
}

.huecoDiente {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgDiente {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.contDiente {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
    margin-bottom: 0;
}

.todoBoca {
    gap: 30px;
    width: 100%;
    overflow-y: hidden;
}

.contDiente>* {
    align-self: center;
    margin: 0;
}

.editOdont {
    width: 90%;
    margin: 0 auto;
}

.horarioAux {
    width: 100%;
    overflow-x: auto;
}

.odontoCont {
    width: 100%;
    overflow-x: auto;
}

.horarioTodo {
    min-width: 1200px;
    width: fit-content;
}

.editProf {
    width: 50%;
    margin: 0 auto;
}

.gestUsuCont {
    width: 90%;
    margin: auto;
}

.formContPadre {
    width: 40%;
}

.listaDent {
    width: 60%;
    margin: auto;
}

.citasId {
    margin: 0 auto;
}

.botonDele {
    white-space: normal;
}

.formResetPass {
    width: 50%;
}

.botonAzul {
    background-color: #1a6fa8 !important;
}

.botonAjus {
    width: 50%;
}

.infoCita {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.contCitasDia {
    width: 70%;
    margin: 0 auto;
}

#huecoDia {
    width: 100%;
}

@media (max-width: 1600px) {

    .botonera {
        min-width: 170px;
    }

    .fullBuscaCliente {
        width: 90%;
    }

    .creaCliente {
        width: 90%;
    }

    .citasId {
        width: 90%;
    }

    .listaDent {
        width: 90%;
    }

    .odontograma {
        width: 100%;
        overflow-x: auto;
    }

    .formResetPass {
        width: 90%;
    }

    .todoBoca {
        flex-direction: column !important;
    }

    .contCitasDia {
        width: 90%;
    }

    html,
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        /* padding: auto; */
    }

    .formCont {
        margin: 0;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .formContPadre {
        margin: 0 !important;
        margin-bottom: 20px !important;
        width: 100% !important;
    }

    .formCitaAux {
        flex-direction: column-reverse !important;
    }

    .editProf {
        width: 90%;
        margin: 0 auto;
    }

    .horarioTodo {
        margin-left: 10px !important;
        margin-right: 10px !important;

    }



    .formLogin {
        width: 90% !important;
    }

    .forgPassForm {
        width: 90% !important;
    }

    .registerForm {
        width: 90% !important;
    }

    .iniAux {
        width: 100%;
        flex-direction: column-reverse !important;
    }

    .clientMenu {
        max-width: none !important;
        margin: auto;
        flex-direction: row !important;
        width: 70% !important;
        margin-bottom: 10px;
    }

    .clientMenu a {
        height: 80%;
        margin: auto;
    }

    .panel-cliente {
        flex-direction: column !important;
    }

    .panel-cliente>div {
        width: 95% !important;
        margin: auto;
    }
}